# dev savedir folder
run/

# Compiled class file
*.class

# Backup file
*.java~

# Text files
/*.txt

# hidden files
/.*

# Gradle
.gradle/

# build folder
build/
bin/
out/
classes/

# Log files
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Settings Files #
*.iml

# IntelliJ Configuration #
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
